<!DOCTYPE html>
<html>
<head>
  <title>Vivus</title>
  <%= stylesheet_link_tag    "vivus/application", :media => "all" %>
  <%= javascript_include_tag "vivus/application" %>

  <% @css_paths.each do |path| %>
    <% if path.match(/print/).nil? %>
      <%= stylesheet_link_tag path, :media => "all" %>
    <% else %>
      <%= stylesheet_link_tag path, :media => "print" %>
    <% end %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body id="vivus">
  <%= yield %>
</body>
</html>
